/* footer */
#footer {
    z-index: 9999;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    
    padding: 16px 40px 16px 40px;
}

#footer > .container {
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer * {
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 400;
}

#footer .footer-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

#footer .left:hover {
    background: rgba(185, 185, 185, 0.55);
    backdrop-filter: blur(1px);
    cursor: default;
}

#footer .middle:hover {
    background: rgb(185, 185, 185);
    cursor: default;
}
#footer .right:hover {
    background: #F2F76D;
    cursor: default;
}

@media (max-width: 600px) {
    #footer {
        padding: 16px 20px 16px 20px;
    }
}